<header>
  <div class="nav_grid">
    <div class="nav_grid_log">
      <img src="/images/logo.png" alt="" />
    </div>
    <div class="nav_grid_header">
      <h1 id="header_h1">Dell Customer Complain Help Desk</h1>
    </div>
  </div>
</header>
<nav>
  <ul>
    <div class="nav_left">
      <li>
        <a href="/">Create Request</a>
      </li>
      <li>
        <a href="/allcomplain">Dashboard</a>
      </li>
    </div>
    <div class="nav_rigth login"></div>
    <li class="login">
      <a href="/logout">Logout</a>
    </li>
    <li class="login">
      <a href="/login">Login</a>
    </li>
  </ul>
  <div style="clear: both"></div>
</nav>
